repos:
    -   repo: https://github.com/asottile/pyupgrade
        rev: v3.3.1
        hooks:
        -   id: pyupgrade
            args: [--py38-plus]

    -   repo: https://github.com/pycqa/isort
        rev: 5.13.2
        hooks:
        -    id: isort
             additional_dependencies: ["colorama>=0.4.3"]
             args: ["--profile", "black"]

    -   repo: https://github.com/psf/black
        rev: 24.2.0
        hooks:
        -   id: black
            args: 
            - --skip-magic-trailing-comma 
            - --line-length=88

    -   repo: https://github.com/pycqa/flake8.git
        rev: 7.0.0
        hooks:
        -   id: flake8
            exclude: (docs)
            args: [--max-line-length=88]

    -   repo: https://github.com/pycqa/pydocstyle
        rev: 6.3.0
        hooks:
        -   id: pydocstyle
            exclude: (tests|docs|experiments)
            additional_dependencies: ["toml"]