[tool.black]
target-version = ["py38", "py39", "py310"]
color = true
skip_magic_trailing_comma = true
line-length = 88 

[tool.isort]
profile = "black"
skip_gitignore = true
color_output = true

[tool.flake8]
max-line-length = 88 

[tool.pytest.ini_options]
# Skip slow tests by default
addopts = "-m 'not slow'"
# https://docs.pytest.org/en/latest/how-to/capture-warnings.html

# add uq_method_box to path
pythonpath = [
  "."
]
filterwarnings = [
    # Treat all warnings as errors
    "error",

    # Warnings raised by dependencies of dependencies, out of our control

    # Expected warnings
    # Lightning warns us about using num_workers=0, but it's faster on macOS
    "ignore:The dataloader, .*, does not have many workers which may be a bottleneck:UserWarning",
    # Lightning warns us about using the CPU when a GPU is available
    "ignore:GPU available but not used.:UserWarning",
    # timm swinv2_tiny_transformer meshgrid
    #"ignore::UserWarning: torch.meshgrid: in an upcoming release, it will be required to pass the indexing argument. (Triggered internally at ../aten/src/ATen/native/TensorShape.cpp:3483.)"
    # save_hyperparameters() Lightning
    #"ignore:is an instance of `nn.Module` is already saved during checkpointing. It is recommended to ignore them using"
    "ignore:Using a non-full backward hook when the forward contains multiple autograd Nodes is deprecated and will be removed in future versions. This hook will be missing some grad_input. Please use register_full_backward_hook to get the documented behavior.",
    # using post-hoc methods with .fit() and no optimizers
    "ignore:`LightningModule.configure_optimizers` returned `None`, this fit will run with no optimizer",
    "ignore:`training_step` returned `None`. If this was on purpose, ignore this warning..."
]
markers = [
    "slow: marks tests as slow",
]
norecursedirs = [
    ".ipynb_checkpoints",
    "data",
    "__pycache__",
]
testpaths = [
    "tests",
    "docs/tutorials",
]