# setup
setuptools==75.2.0

# install
torch==2.5.1
torchmetrics==1.5.1
torchvision==0.20.1
lightning==2.4.0
scikit-learn==1.5.2
gpytorch==1.13
pandas==2.2.1
uncertainty-toolbox==0.1.1
kornia==0.7.3
h5py==3.12.1
laplace-torch==0.2.1
ema-pytorch==0.7.3
