@import url("theme.css");

.rst-content {
    max-width: 95%;
}

img[alt="Logo image"] {
    width: 100px;  /* or whatever size you want */
    height: auto;  /* to maintain aspect ratio */
}

div.cell_output {
    background-color: #080000;  /* Change to your preferred color */
}

/* body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    max-width: 50%;
}


.sphinx-template-content-left-menu {
    max-width: 20%;
}

.sphinx-template-content-left {
    max-width: 50%;
    font-family: "Arial", sans-serif;
    font-size: 16px;
}

.sphinx-template-content-right {
    max-width: 20%
} */