name: tests
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  
jobs:
  pytest:
    name: pytest
    runs-on: ${{ matrix.os }}
    env:
      MPLBACKEND: Agg
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.9', '3.10', '3.11']
    steps:
    - name: Clone repo
      uses: actions/checkout@v2
    - name: Set up python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install pip dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        python -m ensurepip
        python -m pip install --upgrade pip
        pip install -r requirements/requirements.txt -r requirements/tests.txt
        pip install numpy scipy
    - name: Run pytest checks (Ubuntu and macOS)
      shell: bash
      run: |
        python -m pytest -v tests --cov=lightning_uq_box --cov-report=xml
      env:
        MKL_THREADING_LAYER: TBB
      if: ${{ runner.os != 'Windows' }}
    - name: Run pytest checks (Windows)
      shell: cmd
      run: |
        pip install -e .
        pytest --cov=lightning_uq_box --cov-report=xml --durations=10
      if: ${{ runner.os == 'Windows' }}
    - name: Report coverage
      uses: codecov/codecov-action@v3.1.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
