name: tests
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  
jobs:
  mypy:
    name: mypy
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@v2
    - name: Set up python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install pip dependencies
      run: |
        python -m ensurepip
        python -m pip install --upgrade pip
        pip install -r requirements/requirements.txt -r requirements/tests.txt
    - name: Run mypy checks
      shell: bash
      run: mypy .
  pytest:
    name: pytest
    runs-on: ${{ matrix.os }}
    env:
      MPLBACKEND: Agg
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ['3.8', '3.9', '3.10']
    steps:
    - name: Clone repo
      uses: actions/checkout@v2
    - name: Set up python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install apt dependencies (Linux)
      run: sudo apt-get install unrar
      if: ${{ runner.os == 'Linux' }}
    - name: Install brew dependencies (macOS)
      run: brew install rar
      if: ${{ runner.os == 'macOS' }}
    - name: Install pacman dependencies (Windows)
      shell: cmd
      run: |
        set "PATH=%PATH%;c:\msys64\usr\bin"
        pacman -S --noconfirm --needed unrar
      if: ${{ runner.os == 'Windows' }}
    - name: Install pip dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        python -m ensurepip
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run pytest checks (Ubuntu and macOS)
      shell: bash
      run: |
        python -m pytest -v tests --cov=uq_method_box--cov-report=xml
      if: ${{ runner.os != 'Windows' }}
    - name: Run pytest checks (Windows)
      shell: cmd
      run: |
        set "PATH=%PATH%;c:\msys64\usr\bin"
        pytest --cov=torchgeo --cov-report=xml --durations=10
      if: ${{ runner.os == 'Windows' }}
    - name: Report coverage
      uses: codecov/codecov-action@v3.1.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}