name: tests
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  pytest:
    name: pytest
    runs-on: ${{ matrix.os }}
    env:
      MPLBACKEND: Agg
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.10', '3.11', '3.12']
    steps:
    - name: Clone repo
      uses: actions/checkout@v4
    - name: Set up python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install pip dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        python -m ensurepip
        python -m pip install --upgrade pip
        pip install -r requirements/requirements.txt -r requirements/tests.txt
        pip install numpy scipy
    - name: Run pytest checks
      shell: bash
      run: |
        python -m pytest -v tests --cov=lightning_uq_box --cov-report=xml
    - name: Report coverage
      uses: codecov/codecov-action@v5.1.2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
